 <h1>About Me</h1>

<p id="notice"><%= notice %></p>
<div id="body">
<p>
  
  <% @mom.traits.each do |trait| %>
  
  <li><%= trait.age%></li>
  <li><%= trait.location %></li>
  <li><%= trait.activity %></li>
  <li><%= trait.philanthropy %></li>
  
  <% end %>
  
</p>

</div>

<%= link_to 'Edit', edit_trait_path(@trait) %> 
<%= link_to 'Home', moms_path %>
